name: Build and deploy Node.js app to Azure Web App - workbenchv1

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm ci

      - name: npm run build and test
        run: |
          npm run build
          npm run test --if-present

      - name: Package only essential files for deployment
        run: |
          mkdir -p artifact
          cp package.json artifact/
          cp package-lock.json artifact/
          cp -r server artifact/
          cp -r dist artifact/
          cp -r node_modules artifact/

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: artifact

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F2777C953A764A0FA8F0DAF0FD3F9EF7 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_417BD8E91B8B4870AFF9C6D902FBD3D2 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6CEDF02087254862B377EA482F53F952 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'workbenchv1'
          slot-name: 'Production'
          package: .